<!doctype html>
<html lang="en">
<th:block th:fragment="breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <th:block th:each="breadcrumb : ${breadcrumbs}">
                <th:block th:if="${breadcrumb eq breadcrumbs[#lists.size(breadcrumbs) - 1]}">
                    <li class="breadcrumb-item active" th:text="${breadcrumb.title}"></li>
                </th:block>
                <th:block th:unless="${breadcrumb eq breadcrumbs[#lists.size(breadcrumbs) - 1]}">
                    <li class="breadcrumb-item">
                        <a th:href="@{${breadcrumb.link}}" th:text="${breadcrumb.title}"></a>
                    </li>
                </th:block>
            </th:block>
        </ol>
    </nav>
</th:block>
</html>