<!doctype html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <th:block th:replace="~{fragments/layout-head :: head}"/>
    <title>KbDoc</title>
</head>

<body data-spy="scroll" data-target="#navbar-example3" data-offset="86" data-scroll-animation="true" class="doc">
<th:block th:replace="~{fragments/preloader :: preloader}"/>
<div class="body_wrapper">
    <th:block th:replace="~{fragments/layout-header :: header}"/>
    <section class="doc_documentation_area" id="sticky_doc">
        <div class="overlay_bg"></div>
        <div class="container custom_container">
            <div class="row">
                <div class="col-lg-3 doc_mobile_menu display_none">
                    <aside class="doc_left_sidebarlist" th:fragment="menu-sidebar">
                        <div class="open_icon" id="left">
                            <i class="arrow_carrot-right"></i>
                            <i class="arrow_carrot-left"></i>
                        </div>
                        <div class="scroll">
                            <ul class="list-unstyled nav-sidebar">
                                <li class="nav-item">
                                    <a th:href="${homeArticle.link}" class="nav-link">
                                        <img src="/img/side-nav/home.png" alt="">
                                        <span th:text="${homeArticle.title}">Главная страница</span>
                                    </a>
                                </li>
                                <th:block th:replace="~{fragments/menu-item :: menu-item}"/>
                            </ul>
                            <div sec:authorize="isAuthenticated()">
                                <ul class="list-unstyled nav-sidebar coding_nav">
                                    <li class="nav-item">
                                        <a th:href="@{'/' + ${#authentication.name} + '/home'}" class="nav-link"><img src="/img/side-nav/account.png" alt="">Моя библиотека</a>
                                    </li>
                                    <li class="nav-item">
                                        <a data-toggle="modal" data-target="#account" class="nav-link"><img src="/img/side-nav/briefcase.png" alt="">Аккаунт</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/logout" class="nav-link"><img src="/img/side-nav/users.png" alt="">Выйти<i class="arrow_right"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div sec:authorize="isAnonymous()">
                                <ul class="list-unstyled nav-sidebar coding_nav">
                                    <li class="nav-item">
                                        <a href="/signin" class="nav-link"><img src="/img/side-nav/users.png" alt="">Войти<i class="arrow_right"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-9 col-md-12">
                    <div id="post" class="documentation_info">
                        <article class="documentation_body" id="documentation">
                            <div layout:fragment="content"></div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <th:block th:replace="~{fragments/layout-footer :: footer}"/>
</div>
<th:block th:replace="~{fragments/modal :: modal}"/>
<th:block th:replace="~{account :: account}"/>
<th:block th:replace="~{search :: search}"/>
<th:block th:replace="~{fragments/scripts :: layout-scripts}"/>
<th:block layout:fragment="optional" />
</body>

</html>