<!doctype html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <th:block th:replace="~{fragments/layout-head :: head}"/>
    <title>KbDoc</title>
</head>

<body data-spy="scroll" data-target="#navbar-example3" data-offset="86" data-scroll-animation="true" class="doc">
<th:block th:replace="~{fragments/preloader :: preloader}"/>
<div class="body_wrapper">
    <th:block th:replace="~{fragments/layout-header :: header}"/>
    <section class="doc_documentation_area" id="sticky_doc">
        <div class="overlay_bg"></div>
        <div class="container custom_container">
            <div class="row">
                <div class="col-lg-3 doc_mobile_menu display_none">
                    <aside class="doc_left_sidebarlist" th:fragment="menu-sidebar">
                        <div class="open_icon" id="left">
                            <i class="arrow_carrot-right"></i>
                            <i class="arrow_carrot-left"></i>
                        </div>
                        <div class="scroll">
                            <ul class="list-unstyled nav-sidebar">
                                <li class="nav-item active">
                                    <a th:href="${homeArticleLink}" class="nav-link">
                                        <img src="/img/side-nav/home.png" alt="">
                                        <span th:text="${homeArticleTitle}">Главная страница</span>
                                    </a>
                                </li>
                                <th:block th:replace="~{fragments/menu-item :: menu-item}"/>
                            </ul>
                            <ul class="list-unstyled nav-sidebar coding_nav">
                                <li class="nav-item">
                                    <a href="#" class="nav-link"><img src="/img/side-nav/account.png" alt="">Account</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link"><img src="/img/side-nav/coding.png" alt="">Development</a>
                                </li>
                            </ul>
                            <ul class="list-unstyled nav-sidebar bottom_nav">
                                <li class="nav-item">
                                    <a href="#" class="nav-link"><img src="/img/side-nav/united-states.png" alt="">Unlted States</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link"><img src="/img/side-nav/edit.png" alt="">English </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link"><img src="/img/side-nav/users.png" alt="">Sign In <i class="arrow_right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-7 col-md-8">
                    <div id="post" class="documentation_info">
                        <div layout:fragment="content"></div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 doc_right_mobile_menu">
                    <div class="open_icon" id="right">
                        <i class="arrow_carrot-left"></i>
                        <i class="arrow_carrot-right"></i>
                    </div>
                    <div class="doc_rightsidebar scroll">
                        <select id="mySelect" name="os">
                            <option value="windows" data-content="<i class='fab fa-windows'></i> Windows">Windows</option>
                            <option value="ios" data-content="<i class='fab fa-apple'></i> Ios">Ios</option>
                            <option value="linux" data-content="<i class='fab fa-linux'></i> Linux">Linux</option>
                        </select>
                        <div id="font-switcher" class="d-flex justify-content-between align-items-center">
                            <div id="rvfs-controllers" class="fontsize-controllers group"></div>
                            <a href="javascript:window.print()" class="print"><i class="icon_printer"></i></a>
                        </div>
                        <div class="doc_switch">
                            <label for="something" class="tab-btn tab-btns"><i class="icon_lightbulb_alt"></i></label>
                            <input type="checkbox" name="something" id="something" class="tab_switcher">
                            <label for="something" class="tab-btn"><i class="far fa-moon"></i></label>
                        </div>
                        <h6>On this page:</h6>
                        <nav class="list-unstyled doc_menu" id="navbar-example3">
                            <a href="#documentation" class="nav-link active">Documentation</a>
                            <a href="#getting" class="nav-link">Getting started</a>
                            <a href="#version" class="nav-link">Test KbDoc Version</a>
                            <a href="#developer" class="nav-link">Not a developer?</a>
                            <a href="#help" class="nav-link">We're here to help!</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <th:block th:replace="~{fragments/layout-footer :: footer}"/>
</div>
<th:block th:replace="~{fragments/modal :: modal}"/>
<th:block th:replace="~{fragments/scripts :: layout-scripts}"/>
<th:block layout:fragment="optional" />
</body>

</html>