<!doctype html>
<html lang="en">
<th:block th:fragment="menu-item">
    <li th:each="article : ${menuArticles}" th:class="${menuItemClass} ?: 'nav-item'">
        <a th:href="@{${article.link}}" class="nav-link">
            <img src="/img/side-nav/document2.png" alt="article">
            <th:block th:text="${article.title}">Shortcodes</th:block>
        </a>
        <th:block th:if="${not #lists.isEmpty(article.childArticles)}">
            <span class="icon"><i class="arrow_carrot-down"></i></span>
            <ul class="list-unstyled dropdown_nav"
                th:insert="~{fragments/menu-item :: menu-item}"
                th:with="menuArticles=${article.childArticles}, menuItemClass='nav-subitem'">
            </ul>
        </th:block>
    </li>
</th:block>
</html>