<!doctype html>
<html lang="en">
<th:block th:fragment="scripts">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/pre-loader.js"> </script>
    <script src="/assets/bootstrap/js/popper.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap-select.min.js"></script>
    <script src="/assets/font-size/js/rv-jquery-fontsize-2.0.3.js"></script>
    <script src="/js/parallaxie.js"></script>
    <script src="/js/TweenMax.min.js"></script>
    <script src="/js/jquery.wavify.js"></script>
    <script src="/js/anchor.js"></script>
    <script src="/assets/mailchimp/plugins.js"></script>
    <script src="/assets/wow/wow.min.js"></script>
    <script src="/assets/niceselectpicker/jquery.nice-select.min.js"></script>
    <script src="/assets/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/main.js"></script>
</th:block>

<script th:fragment="editor" th:inline="javascript">
    const editor = new toastui.Editor({
        el: document.querySelector('#editor'),
        initialValue: [[${content}]],
        initialEditType: 'wysiwyg'
    });
</script>

<script th:fragment="viewer" th:inline="javascript">
    const viewer = toastui.Editor.factory({
        el: document.querySelector('#viewer'),
        viewer: true,
        initialValue: [[${content}]]
    });
</script>

<script th:fragment="save-article">
    function saveArticle() {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const articleLink = urlParams.get('currentLink');
        const editedContent = editor.getMarkdown()
        $.post("/editor/save", {link: articleLink, content: editedContent})
            .done(function() {
                window.location.href = articleLink;
            });
    }
</script>

</html>