<!doctype html>
<html lang="en">
<th:block th:fragment="layout-scripts">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/pre-loader.js"> </script>
    <script src="/assets/bootstrap/js/popper.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap-select.min.js"></script>
    <script src="/assets/font-size/js/rv-jquery-fontsize-2.0.3.js"></script>
    <script src="/js/parallaxie.js"></script>
    <script src="/js/TweenMax.min.js"></script>
    <script src="/js/jquery.wavify.js"></script>
    <script src="/js/anchor.js"></script>
    <script src="/assets/mailchimp/plugins.js"></script>
    <script src="/assets/wow/wow.min.js"></script>
    <script src="/assets/niceselectpicker/jquery.nice-select.min.js"></script>
    <script src="/assets/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/main.js"></script>
</th:block>

<script th:fragment="editor" th:inline="javascript">
    const editor = new toastui.Editor({
        el: document.querySelector('#editor'),
        initialValue: [[${currentArticle.content}]],
        initialEditType: 'wysiwyg'
    });
</script>

<script th:fragment="viewer" th:inline="javascript">
    const viewer = toastui.Editor.factory({
        el: document.querySelector('#viewer'),
        viewer: true,
        initialValue: [[${currentArticle.content}]]
    });
</script>

<script th:fragment="save-article">
    function saveArticle() {
        const editSegment = "edit";
        const splitter = "/";
        const userEditOffset = 1;
        const url = window.location.href;
        const pathSegments = url.split(splitter);
        const articleLink = splitter + pathSegments
            .slice(pathSegments.indexOf(editSegment) - userEditOffset)
            .filter(segment => segment !== editSegment)
            .join(splitter);
        const editedContent = editor.getMarkdown()
        const articleTitle = $('input[name="title"]').val();
        $.post("/editor/save", { link: articleLink, content: editedContent, title: articleTitle })
            .done(function() {
                window.location.href = articleLink;
            });
    }
</script>

<script th:fragment="search-article" th:inline="javascript">
    function searchArticle() {
        const username = [[${username}]];
        const searchText = $('input[name="searchText"]').val();
        $.post(`/${username}/search`, { searchText: searchText, username: username })
            .done(function(data) {
                $('#searchModal .modal-content').append(
                    "<div class=\"steps-panel\">\n" +
                    "   <ul class=\"ordered-list\">\n" +
                    "   </ul>\n" +
                    "</div>"
                );
                data.forEach(function(article) {
                    $('#searchModal .ordered-list').append('<li><a href="' + article.link + '">' + article.title + '</a></li>');
                });
                $('#searchModal').modal('show');
            });

        $('#searchModal').on('hide.bs.modal', function (e) {
            $('#searchModal .steps-panel').remove();
        })
    }
</script>

</html>