<!doctype html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <title>KbDoc</title>
</head>

<th:block layout:fragment="content">
    <div id="viewer" style="height: 1200px;"></div>
</th:block>

<th:block layout:fragment="optional">
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script th:replace="~{fragments/scripts :: viewer}"></script>
</th:block>

</html>